@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,200;1,400;1,600;1,700&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
html{
    scroll-behavior: smooth;
}
:root{
    --bgc-color: rgb(238, 238, 238);
    --txt-color: rgb(68, 68, 68);
    --txt-point: #eeeeee;
    --box-shadown: 5px 5px 15px #cecece,
    -5px -5px 15px #ffffff;
    --txt-gradiend: linear-gradient(45deg, #0652DD, #833471);
    --txt-gradiendRGBA: linear-gradient(45deg, rgba(6, 82, 221, 0.9), rgba(131, 52, 113, 0.9));
}
body {
  min-height: 100vh;
  /* height: 100vh; */
  width: 100%;
    background-color: var(--bgc-color) ;
    color: var(--txt-color);
    
}
a{
    text-decoration: none;
    color: var(--txt-color);

}
h1{
    font-weight: 300;
}
/* Header */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(201, 201, 201);
    position: fixed;
    top: 0;
    background-color: var(--bgc-color);
    z-index: 99;
}
#clickIcon, .menubar, .close{
    display: none;
}
.header .logo{
    width: 100px;
}
.header .logo img{
    width: 100%;
}
.header .nav{
    display: flex;
    justify-content: end;
    align-items: center;
}
.header .nav .nav_list{
    list-style: none;
    margin: 0 20px;
}
.header .nav .nav_list a{
    text-decoration: none;
    color: var(--txt-color);
    font-weight: 600;
}
/* Slide */
#slide{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 10% 0;
    width: 100%;
    height: max-content;
    column-gap: 20px;
    padding: 0 40px 0 0;
    margin-top: calc(10% + 92px);
}
#slide .text{
    font-size: 3rem;
    width: 70%;
    text-align: justify;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#slide .text .txt_intro{
    font-size: 1rem;
    text-align: start !important;
}
#slide .text .txt_name{
    font-size: 3.8rem;
    margin: 20px 0;
}
#slide .text .txt_gradien{
    display: inline-block;
    font-size: 4.2rem;
    letter-spacing: 1px;
    font-weight: 600;
    background-image: var(--txt-gradiend);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 10s infinite linear;
    
}

#slide .text .txt_gradien .job{
    display: inline-block;
}
#slide .text .txt_gradien .job::before{
    content: attr(data-job1);
    display: inline-flex;
    overflow: hidden;
    animation: textSlip 1s linear infinite forwards,
               changText 2s linear infinite forwards ;
}
@keyframes textSlip {
    from{
        max-width: 0;
    }
    to{
        max-width: 500px;
    }
    
}
@keyframes changText {
    from{
        content: attr(data-job1);
        /* filter: hue-rotate(0); */
    }
    to{
        content: attr(data-job2);
    }
    
}
#slide .text .txt_des{
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1px;
}
#slide .text .find{
    display: flex;
    margin-top: 50px;
    font-size: 20px;

}
#slide .text .find .icons a{
    margin: 0 10px;
    padding: 20px 20px;
    background-color: var(--bgc-color);
    box-shadow: var(--box-shadown);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s linear;
}
#slide .text .find .icons a:hover{
    background-image: var(--txt-gradiendRGBA);
    color: #ffffff !important;
    transition: 0.5s linear;
    
    /* opacity: 0.8; */

}
#slide .avt{
    width: 90%;
    height: 412px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide .avt::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 110%;
    background-image: var(--bgc-color);
    /* background-image: linear-gradient(92deg, rgba(243, 86, 38, 0.8), rgba(254, 171, 58, 0.8)); */
    box-shadow: var(--box-shadown);
    border-radius: 20px;
    animation: hue 10s infinite linear;
}
@keyframes hue {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(-360deg);
    }
  }
#slide .avt img{
    z-index: 1 !important;
    position: absolute;
    height: 90%;
    width: 70%;
    animation: myAnim 15s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}
/* Skill */
.title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
#skill{
    margin: 10% 0;
}
#skill .skills{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    gap: 50px 50px;
    padding: 50px;
}
#skill .skills .item{
    padding-bottom: 20px;
}
#skill .skills .txt_des{
    text-align: start;
    padding-bottom: 10px;
    letter-spacing: 2px;
}
#skill .skills .skill_line{
    position: relative;
    width: 100%;
    height: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    box-shadow: var(--box-shadown);
}

#skill .skills .skill_line::before{
    position: absolute;
    width: 0;
    background-image: var(--txt-gradiend);
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    display: flex;
    border-radius: 20px;
    justify-content: end;
    align-items: center;
    font-weight: 600;
    color: var(--txt-point);
    /* border: 1px solid black; */
    animation: textRun 1s linear 1 forwards 2s;
}
@keyframes textRun {
    from{
        width: 0;
    }
    to{
        width: var(--point);
        content: attr(data-txt);


    }
    
}
/* Project */
#project{
    position: relative;
    margin: 10% 0;
}
#project .projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}
#project .projects .item{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 300px;
}
#project .projects .item .image{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
    height: 300px;
    box-shadow: var(--box-shadown);
    border-radius: 10px;
    position: relative;

    /* background-image: url(./Imgae/img1.jpg);
    padding: 20px; */
}
#demo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #242424;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bgc-color);
    border-radius: 20px;
    cursor: pointer;
    /* box-shadow: 1px 1px 5px #8f8f8f,
    -1px -1px 5px #fff; */
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.5s linear;
    opacity: 0;
    visibility: hidden;
}
#demo:hover{
    box-shadow: 1px 1px 5px #8f8f8f,
    -1px -1px 5px #fff;
}

#project .projects .item .image img{
    width: 300px;
    border-radius: 10px;
   
}
.image_modal::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s linear;
}
.image_modal:hover #demo{
    visibility: visible;
    opacity: 1;
}
.image_modal:hover::before{
    visibility: visible;
    opacity: 1;
}

#project .projects .item .name_project{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    letter-spacing: 1.5px;
}
#contact{
    margin: 10% 0;

}
#contact .find{
    display: flex;
    margin-top: 50px;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#contact .find .icons a{
    margin: 0 10px;
    padding: 20px 20px;
    background-color: var(--bgc-color);
    box-shadow: var(--box-shadown);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s linear;
}
#contact .find .icons a:hover{
    background-image: var(--txt-gradiendRGBA);
    color: #ffffff !important;
    transition: 0.5s linear;
    
    /* opacity: 0.8; */

}
/* responsive */
/* Ipad */
@media (min-width: 780px) and (max-width: 1024px) {
    #slide .text .txt_name{
        font-size: 2rem;
    }
    #slide .text .txt_gradien{
        font-size: 3rem;
    }
    #slide .text .txt_des{
        font-size: 1rem;
    }
    #slide .avt::before{
        width: 90%;
        height: 90%;
    }
    #slide .avt img{
        height: 80%;
        width: 80%;
    }
    #project .projects{
        padding: 0 5px;
    }
}
/* Mobile */
@media (max-width: 780px){
    #slide{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        height: 100%;
    }
    #slide .text .find .icons a, 
    #contact .find .icons a{
        margin: 0 20px;
        padding: 15px;
    }
   
    #slide .text .txt_intro{
        text-align: left;
        width: 100%;
    }
    #slide .text .txt_name span{
        display: block;
    font-size: 2rem;
    text-align: left;
    }
    #slide .text .txt_gradien{
        font-size: 3rem;
    }
    #slide .text .txt_des{
        font-size: 1rem;
        font-weight: 100;
        letter-spacing: 1px;
        text-align: left;
    }
    #slide .avt{
        width: 90%;
    height: 412px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0;
    }
    #slide .avt::before{
        width: 90%;
        height: 80%;
    }
    #slide .avt img{
        height: 70%;
        width: 56%;
    }
    #skill .skills{
        grid-template-columns: auto;
    }
    #project .projects{
        flex-direction: column;
    }
    .header .nav{
        display: flex;
    position: absolute;
    background-color: var(--bgc-color);
    box-shadow: var(--box-shadown);
    height: 100vh;
    width: 60%;
    flex-direction: column;
    top: 0;
    left: 0;
    justify-content: space-evenly;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateX(-110%);
    transition: 0.5s linear;

    }
    .header .menubar{
        font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc-color);
        box-shadow: var(--box-shadown);
        border-radius: 100px;
        /* display: none; */
        transition: 0.5s linear;

    }
    .header .nav .nav_list{
        padding: 30px 0 30px 10px;
    }
    .close{
        font-size: 30px;
        /* position: absolute;
        top: 15px;
        left: 10px; */
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bgc-color);
        box-shadow: var(--box-shadown);
        border-radius: 100px;
        display: none;
        transition: 0.5s linear;
    }
    #clickIcon{
        display: none;
    }
   
    input#clickIcon:checked ~ .nav{
        transform: translateX(0);
        }
    input#clickIcon:checked ~ .menubar{
        display: none;
    }
    input#clickIcon:checked ~ .close{
        display: flex;
        transition: 0.5s linear;

    }
    input#clickIcon:checked ~ body{
        transform: translateX(-110%);


    }
    /* input#clickIcon:checked ~ .nav{
    transform: translateX(-110%);

    } */
    
}
/* Modal - One */
#dialog_modal,
#dialog_modal2,
#dialog_modal3{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
#dialog_modal .close_modal,
#dialog_modal2 .close_modal,
#dialog_modal3 .close_modal{
    position: absolute;
    width: 100%;
    height: 100%;
}
#dialog_modal .modal_content,
#dialog_modal2 .modal_content,
#dialog_modal3 .modal_content{
    background-color: #fff;
    width: max-content;
    height: max-content;
    box-shadow: 1px 1px 5px #797979,
    -1px -1px 5px #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    position: relative;
}
#dialog_modal .modal_content .modal_close,
#dialog_modal2 .modal_content .modal_close,
#dialog_modal3 .modal_content .modal_close{
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 30px;
}
#dialog_modal .modal_content img,
#dialog_modal2 .modal_content img,
#dialog_modal3 .modal_content img{
    border-radius: 10px;
    margin-bottom: 30px;
}
#dialog_modal .modal_content 
.title_project, 
.time,
.name,
#dialog_modal2 .modal_content 
.title_project, 
.time,
.name,
#dialog_modal3 .modal_content 
.title_project, 
.time,
.name{
    margin-bottom: 10px;
}
#dialog_modal .modal_content button,
#dialog_modal2 .modal_content button,
#dialog_modal3 .modal_content button{
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--bgc-color);
    box-shadow: var(--box-shadown);
    margin: 20px 0 10px 0;
}
/* Show Modal */
#dialog_modal:target,
#dialog_modal2:target,
#dialog_modal3:target{
    display: flex;
}